.block {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;

  > .block:last-child {
    margin-bottom: 0;
  }
}

.breadcrumb {
  list-style-type: none;
  margin-left: 0;

  > li {
    .breadcrumbItem;
  }
}

.breadcrumbItem {
  display: inline;

  &:not(:last-child):after {
    color: @color-separator;
    content: '\00a0\2192\00a0';
    padding: 0 0.3em;
  }

  &.selected {
    .strong;
  }
}

@import 'abstract/form';

.calendar {
  &.calendar-week {
    .calendarRow {
      @padding-cell: 5px;
      @width-day: 38px;

      overflow: hidden;

      &:not(:first-child) {
        border-top: 1px solid @color-heading;
        margin-top: @padding-cell;
        padding-top: @padding-cell;
      }

      .calendarDay {
        float: left;
        margin-right: @padding-cell;
        text-align: center;
        width: @width-day;

        &.calendarDay-today {
          .background-flat(@color-text);

          .calendarDayOfWeek {
            color: white;
          }
        }

        .calendarDayOfWeek {
          .small;

          display: block;
          text-transform: uppercase;
        }

        .calendarDayOfMonth {
          font-size: (@width-day * 0.6);
          line-height: (@width-day * 0.6);
        }
      }

      .calendarCell {
        margin-left: (@width-day + @padding-cell);
      }
    }
  }
  &.calendar-month {
    overflow: hidden;
    .calendarRow {
      @width-day: 14.28%;
      clear:both;

      .calendarDay {
        float: left;
        width: @width-day;
        height: 100px;
        border-radius: 1px;
        border-left: 1px solid @color-border;
        border-top: 1px solid @color-border;
        //border: 0 0 1px 1px solid @color-border;
        box-sizing: border-box;
        padding: 8px;
        position: relative;

        &:last-child {
          border-right: 1px solid @color-border;
        }
      }

      &:first-child {
        .calendarDay {
          border-top: 1px solid @color-border;
          &:first-child {
            border-radius: 2px 0 0 0;
          }
          &:last-child {
            border-radius: 0 2px 0 0;
          }
        }
      }

      &:last-child {
        .calendarDay {
          border-bottom: 1px solid @color-border;
          border-top: 0px;
          &:first-child {
            border-radius: 0 0 0 2px;
          }
          &:last-child {
            border-radius: 0 0 2px 0;
          }
        }
      }

      &:nth-last-child(2) {
        .calendarDay {
          border-bottom: 1px solid @color-border;
        }
      }

      .calendarDayOfWeek {
        float: left;
        opacity: 0.28;
      }
      .calendarDayOfMonth {
        float: right;
      }

      .calendarEventsContainer {
        clear:both;
        padding: 0 8px 8px 8px;
      }

      .calendarEvents {
        bottom: 4px;
        border-radius: 50%;
        background: @color-focus;
        color: white;
        text-align: center;
        width: 100%;
        padding-top: 100%;

        .count, .label {
          position: absolute;
        }

        .count {
          left: 50%;
          transform: translate(-50%, 0);
          top: 40px;
          font-size: 24px;
        }

        .label {
          left: 50%;
          transform: translate(-50%, 0);
          bottom:16px;
        }
      }
    }
  }
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.code {
  font-family: @fontFamily-code;
  white-space: pre-wrap;
}

.date {
  width: 80px;
  white-space: nowrap;
}

.em {
  font-style: italic;
}

.help {
  border-bottom: 1px dotted @color-text;
  cursor: help;
}

figure,
.figure {
  display: inline-block;
  margin: 0;
  min-height: 100px;
  min-width: 100px;
  padding: 0;
  position: relative;

  figcaption,
  .figcaption {
    background-color: fade(white, 85%);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    line-height: @length-lineHeight;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 4px 4px;
    position: absolute;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;

    input[type='checkbox'] {
      margin-right: 5px;
    }
  }

  &:hover {
    figcaption,
    .figcatpion {
      white-space: normal;
    }
  }
}

.icon {
  &:before {
    display: inline-block;
    font-family: 'FontAwesome';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: @length-iconSize;
    font-weight: normal;
    margin-right: 2px;
    text-align: center;
    text-decoration: none !important;
    text-rendering: auto;
    transform: translate(0, 0);
    width: @length-lineHeight;
  }
}

.icon-only {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 14px;

  &:before {
    padding-right: 14px;
  }
}

.icon-pullRight {
  overflow: hidden;

  &:before {
    float: right;
    padding-left: 0.25em;
  }
}

.icon-glass { &:before { content: '\f000'; } }
.icon-music { &:before { content: '\f001'; } }
.icon-search { &:before { content: '\f002'; } }
.icon-envelope { &:before { content: '\f003'; } }
.icon-heart { &:before { content: '\f004'; } }
.icon-star { &:before { content: '\f005'; } }
.icon-star-empty { &:before { content: '\f006'; } }
.icon-user { &:before { content: '\f007'; } }
.icon-film { &:before { content: '\f008'; } }
.icon-th-large { &:before { content: '\f009'; } }
.icon-th { &:before { content: '\f00a'; } }
.icon-th-list { &:before { content: '\f00b'; } }
.icon-ok { &:before { content: '\f00c'; } }
.icon-remove { &:before { content: '\f00d'; } }
.icon-zoom-in { &:before { content: '\f00e'; } }
.icon-zoom-out { &:before { content: '\f010'; } }
.icon-off { &:before { content: '\f011'; } }
.icon-signal { &:before { content: '\f012'; } }
.icon-cog { &:before { content: '\f013'; } }
.icon-trash { &:before { content: '\f014'; } }
.icon-home { &:before { content: '\f015'; } }
.icon-file { &:before { content: '\f016'; } }
.icon-time { &:before { content: '\f017'; } }
.icon-road { &:before { content: '\f018'; } }
.icon-download-alt { &:before { content: '\f019'; } }
.icon-download { &:before { content: '\f01a'; } }
.icon-upload { &:before { content: '\f01b'; } }
.icon-inbox { &:before { content: '\f01c'; } }
.icon-play-circle { &:before { content: '\f01d'; } }
.icon-repeat { &:before { content: '\f01e'; } }
.icon-refresh { &:before { content: '\f021'; } }
.icon-list-alt { &:before { content: '\f022'; } }
.icon-lock { &:before { content: '\f023'; } }
.icon-flag { &:before { content: '\f024'; } }
.icon-headphones { &:before { content: '\f025'; } }
.icon-volume-off { &:before { content: '\f026'; } }
.icon-volume-down { &:before { content: '\f027'; } }
.icon-volume-up { &:before { content: '\f028'; } }
.icon-qrcode { &:before { content: '\f029'; } }
.icon-barcode { &:before { content: '\f02a'; } }
.icon-tag { &:before { content: '\f02b'; } }
.icon-tags { &:before { content: '\f02c'; } }
.icon-book { &:before { content: '\f02d'; } }
.icon-bookmark { &:before { content: '\f02e'; } }
.icon-print { &:before { content: '\f02f'; } }
.icon-camera { &:before { content: '\f030'; } }
.icon-font { &:before { content: '\f031'; } }
.icon-bold { &:before { content: '\f032'; } }
.icon-italic { &:before { content: '\f033'; } }
.icon-text-height { &:before { content: '\f034'; } }
.icon-text-width { &:before { content: '\f035'; } }
.icon-align-left { &:before { content: '\f036'; } }
.icon-align-center { &:before { content: '\f037'; } }
.icon-align-right { &:before { content: '\f038'; } }
.icon-align-justify { &:before { content: '\f039'; } }
.icon-list { &:before { content: '\f03a'; } }
.icon-indent-left { &:before { content: '\f03b'; } }
.icon-indent-right { &:before { content: '\f03c'; } }
.icon-facetime-video { &:before { content: '\f03d'; } }
.icon-picture { &:before { content: '\f03e'; } }
.icon-pencil { &:before { content: '\f040'; } }
.icon-map-marker { &:before { content: '\f041'; } }
.icon-adjust { &:before { content: '\f042'; } }
.icon-tint { &:before { content: '\f043'; } }
.icon-edit { &:before { content: '\f044'; } }
.icon-share { &:before { content: '\f045'; } }
.icon-check { &:before { content: '\f046'; } }
.icon-move { &:before { content: '\f047'; } }
.icon-step-backward { &:before { content: '\f048'; } }
.icon-fast-backward { &:before { content: '\f049'; } }
.icon-backward { &:before { content: '\f04a'; } }
.icon-play { &:before { content: '\f04b'; } }
.icon-pause { &:before { content: '\f04c'; } }
.icon-stop { &:before { content: '\f04d'; } }
.icon-forward { &:before { content: '\f04e'; } }
.icon-fast-forward { &:before { content: '\f050'; } }
.icon-step-forward { &:before { content: '\f051'; } }
.icon-eject { &:before { content: '\f052'; } }
.icon-chevron-left { &:before { content: '\f053'; } }
.icon-chevron-right { &:before { content: '\f054'; } }
.icon-plus-sign { &:before { content: '\f055'; } }
.icon-minus-sign { &:before { content: '\f056'; } }
.icon-remove-sign { &:before { content: '\f057'; } }
.icon-ok-sign { &:before { content: '\f058'; } }
.icon-question-sign { &:before { content: '\f059'; } }
.icon-info-sign { &:before { content: '\f05a'; } }
.icon-screenshot { &:before { content: '\f05b'; } }
.icon-remove-circle { &:before { content: '\f05c'; } }
.icon-ok-circle { &:before { content: '\f05d'; } }
.icon-ban-circle { &:before { content: '\f05e'; } }
.icon-arrow-left { &:before { content: '\f060'; } }
.icon-arrow-right { &:before { content: '\f061'; } }
.icon-arrow-up { &:before { content: '\f062'; } }
.icon-arrow-down { &:before { content: '\f063'; } }
.icon-share-alt { &:before { content: '\f064'; } }
.icon-resize-full { &:before { content: '\f065'; } }
.icon-resize-small { &:before { content: '\f066'; } }
.icon-plus { &:before { content: '\f067'; } }
.icon-minus { &:before { content: '\f068'; } }
.icon-asterisk { &:before { content: '\f069'; } }
.icon-exclamation-sign { &:before { content: '\f06a'; } }
.icon-gift { &:before { content: '\f06b'; } }
.icon-leaf { &:before { content: '\f06c'; } }
.icon-fire { &:before { content: '\f06d'; } }
.icon-eye-open { &:before { content: '\f06e'; } }
.icon-eye-close { &:before { content: '\f070'; } }
.icon-warning-sign { &:before { content: '\f071'; } }
.icon-plane { &:before { content: '\f072'; } }
.icon-calendar { &:before { content: '\f073'; } }
.icon-random { &:before { content: '\f074'; } }
.icon-comment { &:before { content: '\f075'; } }
.icon-magnet { &:before { content: '\f076'; } }
.icon-chevron-up { &:before { content: '\f077'; } }
.icon-chevron-down { &:before { content: '\f078'; } }
.icon-retweet { &:before { content: '\f079'; } }
.icon-shopping-cart { &:before { content: '\f07a'; } }
.icon-folder-close { &:before { content: '\f07b'; } }
.icon-folder-open { &:before { content: '\f07c'; } }
.icon-resize-vertical { &:before { content: '\f07d'; } }
.icon-resize-horizontal { &:before { content: '\f07e'; } }
.icon-bar-chart { &:before { content: '\f080'; } }
.icon-twitter-sign { &:before { content: '\f081'; } }
.icon-facebook-sign { &:before { content: '\f082'; } }
.icon-camera-retro { &:before { content: '\f083'; } }
.icon-key { &:before { content: '\f084'; } }
.icon-cogs { &:before { content: '\f085'; } }
.icon-comments { &:before { content: '\f086'; } }
.icon-thumbs-up { &:before { content: '\f087'; } }
.icon-thumbs-down { &:before { content: '\f088'; } }
.icon-star-half { &:before { content: '\f089'; } }
.icon-heart-empty { &:before { content: '\f08a'; } }
.icon-signout { &:before { content: '\f08b'; } }
.icon-linkedin-sign { &:before { content: '\f08c'; } }
.icon-pushpin { &:before { content: '\f08d'; } }
.icon-external-link { &:before { content: '\f08e'; } }
.icon-signin { &:before { content: '\f090'; } }
.icon-trophy { &:before { content: '\f091'; } }
.icon-github-sign { &:before { content: '\f092'; } }
.icon-upload-alt { &:before { content: '\f093'; } }
.icon-lemon { &:before { content: '\f094'; } }
.icon-phone { &:before { content: '\f095'; } }
.icon-check-empty { &:before { content: '\f096'; } }
.icon-bookmark-empty { &:before { content: '\f097'; } }
.icon-phone-sign { &:before { content: '\f098'; } }
.icon-twitter { &:before { content: '\f099'; } }
.icon-facebook { &:before { content: '\f09a'; } }
.icon-github { &:before { content: '\f09b'; } }
.icon-unlock { &:before { content: '\f09c'; } }
.icon-credit-card { &:before { content: '\f09d'; } }
.icon-rss { &:before { content: '\f09e'; } }
.icon-hdd { &:before { content: '\f0a0'; } }
.icon-bullhorn { &:before { content: '\f0a1'; } }
.icon-bell { &:before { content: '\f0a2'; } }
.icon-certificate { &:before { content: '\f0a3'; } }
.icon-hand-right { &:before { content: '\f0a4'; } }
.icon-hand-left { &:before { content: '\f0a5'; } }
.icon-hand-up { &:before { content: '\f0a6'; } }
.icon-hand-down { &:before { content: '\f0a7'; } }
.icon-circle-arrow-left { &:before { content: '\f0a8'; } }
.icon-circle-arrow-right { &:before { content: '\f0a9'; } }
.icon-circle-arrow-up { &:before { content: '\f0aa'; } }
.icon-circle-arrow-down { &:before { content: '\f0ab'; } }
.icon-globe { &:before { content: '\f0ac'; } }
.icon-wrench { &:before { content: '\f0ad'; } }
.icon-tasks { &:before { content: '\f0ae'; } }
.icon-filter { &:before { content: '\f0b0'; } }
.icon-briefcase { &:before { content: '\f0b1'; } }
.icon-fullscreen { &:before { content: '\f0b2'; } }
.icon-group { &:before { content: '\f0c0'; } }
.icon-link { &:before { content: '\f0c1'; } }
.icon-cloud { &:before { content: '\f0c2'; } }
.icon-beaker { &:before { content: '\f0c3'; } }
.icon-cut { &:before { content: '\f0c4'; } }
.icon-copy { &:before { content: '\f0c5'; } }
.icon-paper-clip { &:before { content: '\f0c6'; } }
.icon-save { &:before { content: '\f0c7'; } }
.icon-sign-blank { &:before { content: '\f0c8'; } }
.icon-reorder { &:before { content: '\f0c9'; } }
.icon-list-ul { &:before { content: '\f0ca'; } }
.icon-list-ol { &:before { content: '\f0cb'; } }
.icon-strikethrough { &:before { content: '\f0cc'; } }
.icon-underline { &:before { content: '\f0cd'; } }
.icon-table { &:before { content: '\f0ce'; } }
.icon-magic { &:before { content: '\f0d0'; } }
.icon-truck { &:before { content: '\f0d1'; } }
.icon-pinterest { &:before { content: '\f0d2'; } }
.icon-pinterest-sign { &:before { content: '\f0d3'; } }
.icon-google-plus-sign { &:before { content: '\f0d4'; } }
.icon-google-plus { &:before { content: '\f0d5'; } }
.icon-money { &:before { content: '\f0d6'; } }
.icon-caret-down { &:before { content: '\f0d7'; } }
.icon-caret-up { &:before { content: '\f0d8'; } }
.icon-caret-left { &:before { content: '\f0d9'; } }
.icon-caret-right { &:before { content: '\f0da'; } }
.icon-columns { &:before { content: '\f0db'; } }
.icon-sort { &:before { content: '\f0dc'; } }
.icon-sort-down { &:before { content: '\f0dd'; } }
.icon-sort-up { &:before { content: '\f0de'; } }
.icon-envelope-alt { &:before { content: '\f0e0'; } }
.icon-linkedin { &:before { content: '\f0e1'; } }
.icon-undo { &:before { content: '\f0e2'; } }
.icon-legal { &:before { content: '\f0e3'; } }
.icon-dashboard { &:before { content: '\f0e4'; } }
.icon-comment-alt { &:before { content: '\f0e5'; } }
.icon-comments-alt { &:before { content: '\f0e6'; } }
.icon-bolt { &:before { content: '\f0e7'; } }
.icon-sitemap { &:before { content: '\f0e8'; } }
.icon-umbrella { &:before { content: '\f0e9'; } }
.icon-paste { &:before { content: '\f0ea'; } }
.icon-exchange { &:before { content: '\f0ec'; } }
.icon-double-angle-left { &:before { content: '\f100'; } }
.icon-double-angle-right { &:before { content: '\f101'; } }
.icon-double-angle-up { &:before { content: '\f102'; } }
.icon-double-angle-down { &:before { content: '\f103'; } }
.icon-angle-left { &:before { content: '\f104'; } }
.icon-angle-right { &:before { content: '\f105'; } }
.icon-angle-up { &:before { content: '\f106'; } }
.icon-angle-down { &:before { content: '\f107'; } }
.icon-desktop { &:before { content: '\f108'; } }
.icon-laptop { &:before { content: '\f109'; } }
.icon-spinner { &:before { content: '\f110'; } }
.icon-reply { &:before { content: '\f112'; } }
.icon-terminal { &:before { content: '\f120'; } }
.icon-crop { &:before { content: '\f125'; } }
.icon-unlink { &:before { content: '\f127'; } }
.icon-question { &:before { content: '\f128'; } }
.icon-info { &:before { content: '\f129'; } }
.icon-exclamation { &:before { content: '\f12a'; } }
.icon-superscript { &:before { content: '\f12b'; } }
.icon-subscript { &:before { content: '\f12c'; } }
.icon-rocket { &:before { content: '\f135'; } }
.icon-ellipsis-horizontal { &:before { content: '\f141'; } }
.icon-collapse { &:before { content: '\f150'; } }
.icon-collapse-top { &:before { content: '\f151'; } }
.icon-youtube { &:before { content: '\f167'; } }
.icon-instagram { &:before { content: '\f16d'; } }
.icon-tumblr { &:before { content: '\f173'; } }
.icon-user-md { &:before { content: '\f200'; } }

button.link {
  background: transparent;
  border-radius: 0;
  border-style: none;
  display: inline;
  font-weight: inherit;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-height: 0;
  padding: 0;
  vertical-align: inherit;

  &,
  &:hover {
    background-color: transparent;
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  img {
    border-style: none;
  }
}

ol.links,
ul.links {
  list-style-type: none;
  margin-left: 0;

  > li {
    @-length-border: 1px;
    @-length-height: @length-lineHeight - @-length-border;
    @-length-paddingTop: floor(@-length-height / 2);

    box-sizing: border-box;
    border-bottom: @-length-border solid darken(white, 10%);
    padding: @-length-paddingTop 0 (@-length-height - @-length-paddingTop) 0;

    &:last-child {
      border-bottom-style: none;
    }

    > .link {
      display: block;
      margin: (0 - @-length-paddingTop) 0 (0 - @-length-height + @-length-paddingTop) 0;
      padding: @-length-paddingTop 0 (@-length-height - @-length-paddingTop) 0;
      position: relative;
      text-decoration: none;
    }

    &:hover,
    &.links-selected,
    &.selected {
      list-style-type: none;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;

      > .link {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: mix(@color-focus, white, 10%);
    }

    &.links-selected,
    &.selected {
      .background-flat(@color-focus);
      border-color: @color-focus;

      .link {
        .color-hover-lighten(white);
      }
    }

    &.links-new,
    &.new {
      list-style-type: none;

      > .link {
        .icon;
        .icon-plus;

        &:before {
          padding-right: 7px;
        }
      }
    }
  }
}

table.links,
table.links.table-striped {
  overflow: hidden;

  input[type='checkbox'] {
    position: relative;
    z-index: 1;
  }

  .link {
    position: relative;

    &:before {
      content: '';
      height: 2000px;
      left: -2000px;
      position: absolute;
      top: -4px;
      width: 4000px;
    }
  }

  > tbody > tr {
    &:hover {
      .background-flat(#d7f0f8);
      cursor: pointer;

      .link {
        &:hover {
          text-decoration: none;
        }
      }
    }

    &.selected {
      .background-flat(@color-focus);

      .link {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  td {
    @-length-paddingTop: floor(@length-lineHeight / 2);

    padding-bottom: (@length-lineHeight - @-length-paddingTop);
    padding-top: @-length-paddingTop;
  }
}

// Necessary for correct precedence.
.message-icon() {
  &:before {
    left: 10px;
    position: absolute;
    top: 10px;
  }
}

.message,
.message-info {
  @-message-padding: 10px;
  @-message-paddingLeft: @-message-padding + @length-lineHeight + 5px;

  .background-flat(@color-heading);
  .icon;
  .icon-info-sign;
  .message-icon();

  border-radius: 2px;
  margin-bottom: 20px;
  min-height: 20px;
  padding: @-message-padding @-message-padding @-message-padding @-message-paddingLeft;
  position: relative;

  > *:last-child {
    margin-bottom: 0;
  }

  .actions,
  .buttons {
    background: transparent;
    margin: @-message-padding 0 0 (@-message-padding - @-message-paddingLeft);
    padding: @-message-padding 0 0 0;

    .action,
    .button,
    .link,
    button {
      height: auto;
    }
  }
}

.message-error {
  .background-flat(@color-remove);
  .icon;
  .icon-exclamation-sign;
  .message-icon();

  .link {
    color: @color-link-light;
  }
}

.message-success {
  .background-flat(@color-publish);
  .icon;
  .icon-ok-sign;
  .message-icon();
}

.message-warning {
  .background-flat(@color-schedule);
  .icon;
  .icon-exclamation-sign;
  .message-icon();
}

.oneLine {
  .clearfix;

  list-style-type: none;
  margin-left: 0;
  margin-top: -5px;

  li {
    float: left;
    padding: 10px 10px 0 0;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }
  }

  select {
    max-width: 300px;
  }
}

@import 'abstract/pagination';

.piped {
  list-style-type: none;
  margin-left: 0;
  overflow: hidden;

  > li {
    .pipedItem;
  }
}

.pipedItem {
  float: left;

  &:not(:last-child):after {
    border-right: 1px solid @color-separator;
    content: '';
    margin-right: 0.7em;
    padding-right: 0.7em;
  }

  &.selected {
    .strong;

    .link {
      .strong;

      color: @color-text;
    }
  }
}

@-progress-color: @color-placeholder;

.progress {
  .background-flat(@-progress-color);

  border-radius: 4px;
  box-shadow: inset 0 1px 2px darken(@-progress-color, 5%);
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 0;
}

.progressBar {
  .background-striped(darken(@-progress-color, 10%));

  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.small {
  color: @color-note;
  font-size: 90%;
}

.strong {
  font-weight: bold;
}

.tabs {
  @-borderColor: @color-border;
  @-borderWidth: 1px;

  font-weight: 700;
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 0;
  position: relative;

  .inputLarge & {
    margin-bottom: 10px;
  }

  &:before {
    background: @-borderColor;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  > li {
    @-paddingTB: @length-tabHeight - @length-lineHeight - @-borderWidth;
    @-paddingTop: floor(@-paddingTB / 2);

    display: inline-block;
    position: relative;

    &:before {
      border-color: @-borderColor @-borderColor white @-borderColor;
      border-radius: 2px 2px 0 0;
      border-style: solid;
      border-width: @-borderWidth;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: (@length-tabHeight - @-borderWidth);
      transition: all @time-fast;
    }

    .link {
      display: inline-block;
      font-weight: 700;
      padding: @-paddingTop 20px (@-paddingTB - @-paddingTop) 20px;
      position: relative;

      &:hover {
        text-decoration: none;
      }
    }

    &.state-selected {
      &:before {
        opacity: 1;
        top: 0;
      }

      .link {
        color: @color-text;
      }
    }

    &.state-error {
      .link {
        .icon;
        .icon-exclamation;

        color: @color-remove;
      }
    }
  }
}

.tabs-scroller-toLeft,
.tabs-scroller-toRight {
  .icon;

  border-radius: 2px;
  cursor: pointer;
  display: none;
  height: 34px;
  position: absolute;
  top: 0;
  user-select: none;
  width: 50px;
  z-index: 1;

  &:before {
    height: 100%;
    line-height: 35px;
    padding: 0;
  }

  &.tabs-scroller-disable {
    background: transparent;
    color: @color-placeholder;
    width: 20px;
  }
}

.tabs-scroller-toLeft {
  .icon-chevron-left;

  background-image: linear-gradient(to right, white 0, white 20px, fade(white, 0%) 50px);
  left: 0;
}

.tabs-scroller-toRight {
  .icon-chevron-right;

  background-image: linear-gradient(to left, white 0, white 20px, fade(white, 0%) 50px);
  right: 0;
  text-align: right;
}

.tabs-wrapper {
  position: relative;

  &:before {
    background: @color-border;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .tabs {
    overflow: hidden;
    white-space: nowrap;

    &:before {
      display: none;
    }
  }

  &.tabs-wrapper-scrollable {
    .tabs {
      padding: 0 20px;
    }

    .tabs-scroller-toLeft,
    .tabs-scroller-toRight {
      display: block;
    }
  }
}

.text {
  background: transparent;
  border: none;
  color: @color-text;
  display: inline;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-height: 0;
  padding: 0;
  position: static;
  width: auto;

  &:focus,
  &.state-focus {
    box-shadow: none;
  }

  &:hover,
  &.state-hover {
    color: inherit;
    text-decoration: none;
  }
}

.time {
  text-align: right;
  width: 55px;
  white-space: nowrap;
}

.visibilityLabel {
  @-paddingTopBottom: 2px;
  @-fontSize: (@length-fontSize - (@-paddingTopBottom * 2));

  .background-flat(@color-placeholder);
  border-radius: 2px;
  display: inline-block;
  font-size: @-fontSize;
  line-height: round(@-fontSize * (@length-lineHeight / @length-fontSize));
  padding: @-paddingTopBottom (@-paddingTopBottom * 1.5);
  text-transform: uppercase;
  vertical-align: top;
}

@import 'abstract/widget';

// Standard CMS objects.
.icon-object { .icon-file; }
.icon-object-directory { .icon-sitemap; }
.icon-object-draft { .icon-edit; }
.icon-object-guide { .icon-question; }
.icon-object-history { .icon-time; }
.icon-object-notification { .icon-envelope; }
.icon-object-schedule { .icon-calendar; }
.icon-object-site { .icon-globe; }
.icon-object-standardImageSize { .icon-crop; }
.icon-object-template { .icon-th; }
.icon-object-tool { .icon-wrench; }
.icon-object-toolRole { .icon-group; }
.icon-object-toolUser { .icon-user; }
.icon-object-toolUserDevice { .icon-laptop; }
.icon-object-variation { .icon-columns; }
.icon-object-workflow { .icon-exchange; }
.icon-object-workStream { .icon-tasks; }

// Standard CMS actions.
.icon-action-add { .icon-plus; }
.icon-action-cancel { .icon-ban-circle; }
.icon-action-change { .icon-random; }
.icon-action-copy { .icon-copy; }
.icon-action-create { .icon-plus; }
.icon-action-customize { .icon-cog; }
.icon-action-delete { .icon-remove; }
.icon-action-download { .icon-download-alt; }
.icon-action-edit { .icon-pencil; }
.icon-action-logIn { .icon-signin; }
.icon-action-logOut { .icon-signout; }
.icon-action-preview { .icon-eye-open; }
.icon-action-print { .icon-print; }
.icon-action-publish { .icon-bullhorn; }
.icon-action-remove { .icon-remove; }
.icon-action-restore { .icon-reply; }
.icon-action-save { .icon-ok; }
.icon-action-schedule { .icon-calendar; }
.icon-action-search { .icon-search; }
.icon-action-share { .icon-share; }
.icon-action-trash { .icon-trash; }
.icon-action-upload { .icon-upload-alt; }

.action-add { .icon; .icon-action-add; }
.action-cancel { .icon; .icon-action-cancel; }
.action-change { .icon; .icon-action-change; }
.action-copy { .icon; .icon-action-copy; }
.action-create { .icon; .icon-action-create; }
.action-customize { .icon; .icon-action-customize; }
.action-delete { .icon; .icon-action-delete; }
.action-download { .icon; .icon-action-download; }
.action-edit { .icon; .icon-action-edit; }
.action-logIn { .icon; .icon-action-logIn; }
.action-logOut { .icon; .icon-action-logOut; }
.action-preview { .icon; .icon-action-preview; }
.action-print { .icon; .icon-action-print; }
.action-remove { .icon; .icon-action-remove; }
.action-save { .icon; .icon-action-save; }
.action-schedule { .icon; .icon-action-schedule; }
.action-search { .icon; .icon-action-search; }
.action-share { .icon; .icon-action-share; }
.action-trash { .icon; .icon-action-trash; }
.action-upload { .icon; .icon-action-upload; }

.action-image-edit { .icon; .icon-magic; }
.action-image-viewMetadata { .icon; .icon-table; }
.action-live { .icon; .icon-bullhorn; }
.action-tools { .icon; .icon-wrench; }

.button:not(.link) {
  &[class*='action-'],
  &.action,
  &.icon {
    &:not(.link):before {
      display: none !important;
    }
  }
}