.guideForm {
   margin: -10px;
   overflow: hidden;
   padding: 10px 10px 10px 10px;
   width: 1000px;
}

.guideForm-main {
  float: left;
  position:relative;
  width: 100%;

  > .pagination {
    margin-bottom: 15px;
    text-align: left;
  }

  @media print {
    float: none;
    width: 950px;
  }
}

.guideButtons {
  margin: 6px 0 15px 0;
  overflow: hidden;
  padding: 10px 30px;
  width: 950px;
}

.guidePreview {
  background-size: 50px 50px;
  bottom: 40px;
  float: right;
  height: 600px;
  min-height: 480px;
  overflow: hidden;
  top: 40px;
  width: 400px;
  z-index: 1999999;
}

.guidePreviewFrame {
  border-style: none;
  height: 1500px;
  left: 0;
  top: (@lineHeight-default + 10);
  transform: scale(0.30);
  transform-origin: 0 0;
  width: 1220px;

  @media print {
    transform: scale(0.75);
  }
}

.guideTop {
  margin-left: 10px;
  margin-right:10px;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;

  @media print {
    width: 950px;
  }
}

.guideTitle {
  margin-left: 10px;
  margin-right:10px;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
}

.guideOverview {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;

  @media print {
    float: none;
    width: 950px;
  }
}

.guideDescription {
  float: left;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 425px;

  @media print {
    float: none;
    width: 950px;
  }
}

.guideModuleReferences {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  width: 425px;

  @media print {
    float: none;
    width: 950px;
  }
}

.guideTips {
  background-color: #E6DDDD;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top : 20px;
  padding: 10px 10px 10px 10px;
  width: 425px;

  @media print {
    float: none;
    width: 950px;
  }
}

.guideRelatedTemplate {
  display: table;
  float: left;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}

.guideRelatedTemplate iframe,
.guideRelatedTemplate.text {
  display: table-cell;
  vertical-align: middle;
}

.guideFieldDescription {
  padding: 10px 10px 10px 10px;
}

.guideFootnote {
  color: @color-placeholder;
  font-size: 80%;
  padding: 10px 0 10px 0;
  text-align: left;
  text-transform: uppercase;
}

.guideControls {
  .piped;

  margin-top: 0px;
  margin-right: 35px;
  text-align: right;

  form {
    display: inline;
  }
}

.inputLabel {
  > .icon-object-guide {
    .icon-only;

    color: fade(black, 85%);
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    visibility: hidden;
  }

  &:hover > .icon-object-guide {
    visibility: visible;
  }
}

.popup[name='guideType'] {
  max-width: none;
  width: 1010px;
}

.popup[name='guideField'] {
  img {
    max-width: 100%;
  }
}

.popup[name='guidePrint'] {
  max-width: none;
  top: 0;
  visibility: hidden;
  width: 1010px;

  @media print {
    visibility: visible;
  }
}
