.taxonomyContainer {
  max-height: 400px;
  overflow: auto;

  ul {
    border-left: 1px solid @color-placeholder;
    display: table-cell;
    list-style-type: none;
    margin-left: 0;
  }

  li {
    overflow: hidden;
    padding: 1px 25px 1px 10px;
    position: relative;
    white-space: nowrap;

    .link {
      position: relative;
      z-index: 1;
    }

    &.state-selected {
      background-color: @color-link-dark;

      &,
      & .link { 
        color: white;
      }
    }

    .taxonomyExpand {
      .icon;
      .icon-chevron-right;
      .icon-only;

      margin-left: -300px;
      padding-left: 300px;
      position: absolute;
      right: 5px;
      top: 1px;
      z-index: 0;
    }
  }

  .taxonChildren {
    display: table-cell;
  }

  [name="miscSearch"] & {
    max-height: none;
  }
}
