.toolBroadcast {
  .message;
  .message-error;

  border-radius: 0;
  height: 25px;
  left: 0;
  line-height: 25px;
  overflow: hidden;
  padding: 0 20px 0 40px;
  position: fixed;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 100;

  &:before {
    height: 25px;
    left: 20px;
    line-height: 25px;
    top: 0;
  }
}

.hasToolBroadcast {
  margin-top: 100px;

  .toolHeader {
    top: 25px;
  }

  .contentPreview {
    margin-top: -35px;
  }

  .contentPreviewClose {
    top: 107px;
  }
}

.toolHeader {
  background-color: white;
  box-shadow: 0 0 10px fade(black, 20%);
  height: @length-toolHeader-height;
  left: 0;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.toolTitle {
  @-height: @length-toolHeader-height - 20px;

  font-size: @-height;
  font-weight: bold;
  height: @-height;
  left: 60px;
  line-height: @-height;
  position: absolute;
  text-transform: uppercase;
  top: ((@length-toolHeader-height - @-height) / 2);
  width: (@length-toolTitle-width - 40px);

  .link {
    color: @color-text;

    &:hover {
      text-decoration: none;
    }

    img {
      bottom: 0;
      left: 0;
      margin: auto 0;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .noToolUser & {
    left: 0;

    .link img {
      margin: auto;
    }
  }
}

.toolEnv {
  .background-flat(black);
  box-shadow: 0 0 5px fade(black, 50%);
  height: 22px;
  font-size: 11px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 18px;
  right: -120px;
  width: 300px;
  transform: rotate(45deg);
  text-transform: uppercase;
}

.toolUserDisplay {
  @-length-padding: 10px;
  @-length-size: @length-toolHeader-height - (@-length-padding * 2);

  display: block;
  line-height: @-length-size;
  right: 20px;
  overflow: hidden;
  position: absolute;
  top: @-length-padding;

  .toolHeader-hasEnvironment & {
    right: 70px;
  }

  .link {
    color: @color-text;
    font-weight: 700;

    &:hover {
      color: @color-text;
      text-decoration: none;
    }
  }

  .toolUserAvatar {
    .background-flat(@color-heading);
    border-radius: 100%;
    color: @color-border;
    display: inline-block;
    height: @-length-size;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    width: @-length-size;

    &:hover {
      color: @color-border;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.toolProfile {
  display: none;
}

.toolSearch {
  position: absolute;
  left: (@length-toolTitle-width + 60);
  top: ((@length-toolHeader-height - @length-inputHeight) / 2);
  transition: width @time-fast;
  width: @length-searchControlsWidth;

  .toolHeader-hasEnvironment & {
    right: 52px;
  }

  .searchInput {
    .icon;
    .icon-action-search;

    width: 100%;

    &:before {
      color: @color-text;
      cursor: pointer;
      left: 8px;
      line-height: 1;
      position: absolute;
      top: 8px;
    }

    button {
      display: none;
    }

    label {
      color: @color-placeholder;
      font-style: italic;
      left: 0;
      padding-left: 26px;
    }

    input[type='text'] {
      padding-left: 25px;
      width: 100%;
    }
  }
}

.toolSearchSaved {
  .background-flat(@color-heading);
  bottom: -15px;
  box-sizing: border-box;
  display: block;
  left: (-60 - @length-toolTitle-width);
  padding: 20px;
  position: absolute;
  top: -15px;
  width: (@length-toolTitle-width + 40);
}

.toolNav {
  display: none;
}

.toolNav-split {
  overflow: hidden;

  .link {
    &, &:hover {
      color: @color-text;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    @-item-height: 40px;

    cursor: pointer;
    height: @-item-height;
    line-height: @-item-height;
    padding: 0 20px;

    &:hover,
    &.state-hover {
      background-color: fade(@color-focus, 10%);
    }
  }
}

.toolNav-splitLeft {
  border-right: 1px solid @color-separator;
  float: left;
  min-width: (@length-toolTitle-width + 40px);

  li {
    .icon;
    .icon-angle-right;

    position: relative;

    &:before {
      padding-right: 0;
      position: absolute;
      right: 20px;
      width: auto;
    }
  }
}

.toolNav-splitRight {
  border-left: 1px solid @color-separator;
  float: left;
  margin-left: -1px;

  ul {
    min-width: (@length-toolTitle-width + 40px);
  }
}

.toolNav-toggle {
  @-size: 25px;

  .icon;
  .icon-reorder;

  background: #3fc5f0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  height: @-size;
  left: 20px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: ((@length-toolHeader-height - @-size) / 2);
  user-select: none;
  width: @-size;

  &:before {
    line-height: @-size;
    padding: 0;
  }
}

.toolNav-popup {
  left: 0 !important;
  margin: 4px 0 0 0 !important;
  max-width: none !important;
  position: fixed !important;
  top: (@length-toolHeader-height - 14) !important;
  width: auto !important;
  z-index: 101 !important;

  &:before {
    top: @length-toolHeader-height !important;
  }

  > .content {
    border-radius: 0 !important;
    border-bottom-right-radius: 2px !important;
    border-top: 2px solid @color-separator !important;
    box-shadow: 0 40px 80px -40px black !important;
    padding: 0 !important;

    > .closeButton {
      display: none;
    }
  }
}
/*
.toolNav {
  border-top: 2px solid @color-separator;
  display: none;
  left: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 20px 30px 30px 20px;
  position: fixed;
  top: (@length-toolHeader-height - 1px);

  &:before {
    background-color: black;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.2;
    position: fixed;
    transform: translateZ(0);
    top: 0;
    right: 0;
  }

  &:after {
    background-color: white;
    bottom: 10px;
    box-shadow: 0 0 10px fade(black, 20%);
    content: '';
    left: 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: -1;
  }

  > li {
    float: left;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    > .link {
      &:extend(h2 all);

      color: @color-text;
    }

    > ul {
      &:extend(ul.links all);

      margin: 0;
    }
  }
}
*/

.toolContent {
  background: darken(white, 20%);
  margin: (0 - @length-toolHeader-height) -20px 0 -20px;
  padding: (@length-toolHeader-height + 20px) 20px 20px 20px;
  position: relative;
  transition: all @time-fast;
  z-index: 0;
}

.toolBackground {
  display: none;

  .noToolUser & {
    background-position: center;
    background-size: cover;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.toolFooter {
  background: white;
  bottom: 0;
  height: @length-toolFooter-height;
  left: 0;
  line-height: @length-toolFooter-height;
  padding: 0 20px;
  position: fixed;
  right: 0;
  z-index: -1;

  img {
    vertical-align: middle;
  }
}

.searchForm {
  overflow: hidden;
  margin: -5px;
  padding: 5px;
}

.searchControls {
  border-right: 2px solid @color-separator;
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  width: (@length-searchControlsWidth + 20);

  input[type=text],
  select {
    width: 100%;
  }
}

.searchSaved {
  display: none;
}

.searchFilters {
  @-length-top: @length-inputHeight + 20px;

  border-top: 2px solid @color-separator;
  margin: @-length-top 0 20px 0;
  padding: 20px 0 0 0;
  position: relative;

  form {
    margin-bottom: 0;
  }

  .searchInput {
    left: 0;
    right: 0;
    position: absolute;
    top: (0 - @-length-top);
  }

  .action-cancel {
    .small;

    color: @color-remove;
    left: 50px;
    position: absolute;
    top: 20px;
  }
}

.searchMissing {
  .icon;
  .icon-share-alt;

  color: @color-note;
  font-size: 80%;
  line-height: @length-inputHeight;
  margin-bottom: -10px;
  padding-right: 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;

  &:before {
    position: absolute;
    right: 4px;
    top: 7px;
    transform: rotate(90deg);
  }
}

.searchFilter {
  margin-top: 10px;
  position: relative;

  .objectId,
  .objectId-select {
    display: block;
    width: 100%;
  }

  .objectId-clear {
    .icon-only;

    position: absolute;
    right: 25px;
    top: 3px;
  }

  &.searchFilter-date {
    position: relative;

    .calendarButton {
      width: 100%;
    }

    > input:first-child + .calendarButton {
      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > input[name$='.x'] + .calendarButton {
      border-top-color: transparent;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -1px;
    }

    &:before {
      border-top: 1px solid @color-separator;
      content: '';
      height: 0;
      left: 10px;
      position: absolute;
      top: 29px;
      right: 35px;
    }
  }

  &.searchFilter-number input[type='text'] {
    width: 50%;
  }

  &.searchFilter-advancedQuery {
    position: relative;

    input[type='text'] {
      padding-right: 25px;
    }

    .icon-action-edit {
      bottom: ((@length-inputHeight - @length-iconSize) / 2);
      position: absolute;
      right: 5px;
    }
  }
}

.searchFiltersLocal {
  position: relative;

  input[type='checkbox'] {
    position: absolute;
    right: 0;
    top: 6px;

    &:checked {
      background-image: url(icon/x.svg);
    }
  }

  .searchFilter {
    padding-right: 25px;
  }

  .objectId-clear {
    right: 45px;
  }
}

.searchCreate {
  border-top: 2px solid @color-separator;
  padding-top: 20px;

  form {
    margin-bottom: 0;
  }

  .select {
    margin-bottom: 10px;
  }
}

.searchResult {
  margin-left: (@length-searchControlsWidth + 40);
  position: relative;
}

.searchSuggestionsForm {
  display: none;
}

.searchSuggestions {
  margin-bottom: 20px;
}

.searchSorter {
  margin-bottom: 20px;

  form {
    display: inline;
  }
}

.searchPagination {
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: (@length-lineHeight + 10px);
}

.searchResultImages {
  margin-bottom: 10px;
  overflow: hidden;

  figure {
    border: 1px solid darken(white, 20%);
    box-sizing: border-box;
    float: left;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 4px;
    max-width: 150px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.dashboard {
  margin: -10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  &[data-columns="1"] {
    .dashboardColumn { width: 100%; }
  }

  &[data-columns="2"] {
    .dashboardColumn:nth-child(1) { width: 60%; }
    .dashboardColumn:nth-child(2) { width: 40%; }
  }

  &[data-columns="3"] {
    .dashboardColumn:nth-child(1) { width: 40%; }
    .dashboardColumn:nth-child(2) { width: 30%; }
    .dashboardColumn:nth-child(3) { width: 30%; }
  }

  &[data-columns="4"] {
    .dashboardColumn:nth-child(1) { width: 30%; }
    .dashboardColumn:nth-child(2) { width: 30%; }
    .dashboardColumn:nth-child(3) { width: 20%; }
    .dashboardColumn:nth-child(4) { width: 20%; }
  }
}

.dashboardColumn {
  float: left;
}

.dashboardCell {
  min-height: 33px;
  margin-bottom: 10px;
  padding: 0 5px;
  position: relative;

  .dashboardColumn:first-child & {
    padding-left: 0;
  }

  .dashboardColumn:last-child & {
    padding-right: 0;
  }

  .widgetControls {
    right: 55px;
  }

  .frame .widget {
    margin-bottom: 0;
  }
}

.dashboardCell-collapse .widget {
  height: 13px;
  overflow: hidden;
}

.dashboardCollapse {
  .icon;
  .icon-collapse-top;
  .icon-only;
  .link;

  color: @color-note;
  position: absolute;
  right: 35px;
  top: 6px;

  .dashboardColumn:last-child & {
    right: 30px;
  }

  .dashboardCell-collapse & {
    .icon-collapse;
  }

  &:hover {
    color: @color-text;
  }
}

.dashboardMoveContainer {
  .icon;
  .icon-move;
  .icon-only;
  .link;

  color: @color-note;
  position: absolute;
  right: 15px;
  top: 6px;

  .dashboardColumn:last-child & {
    right: 10px;
  }

  &:hover {
    color: @color-text;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    margin-right: -15px;
    margin-top: -15px;
    z-index: 1;
  }
}

.dashboardMoveUp,
.dashboardMoveDown,
.dashboardMoveLeft,
.dashboardMoveRight {
  .link;

  border-radius: 100%;
  display: none;
  height: 19px;
  position: absolute;
  width: 19px;

  .dashboardMoveContainer:hover & {
    display: block;
  }
}

.dashboardMoveUp {
  left: 12px;
  top: 2px;
}

.dashboardMoveDown {
  bottom: 2px;
  left: 12px;
}

.dashboardMoveLeft {
  left: 0;
  top: 15px;
}

.dashboardMoveRight {
  top: 15px;
  right: 0;
}

.withLeftNav {
  margin: -10px;
  overflow: hidden;
  padding: 10px;

  > .leftNav {
    float: left;
    width: 240px;
  }

  > .main {
    margin-left: 255px;
  }
}

.widget-queryField {
  box-shadow: none;
  padding: 0;

  > h1 {
    display: none;
  }
}
