* {
        font-family: inherit; font-size: 100%; font-style: inherit;
        font-weight: inherit; text-decoration: inherit;
        vertical-align: inherit; }
    *:focus { outline-style: none; }

a { color: #000; text-decoration: underline; }
    a img { border-style: none; text-decoration: none; }

abbr, acronym, *[title] { border-bottom: 1px dotted #000; }

article, dl, footer, header, nav, ol, p, section, table, ul {
        display: block; margin: 0 0 18px 0; padding: 0; }

b, strong { font-weight: bold; }

body {
        background-color: transparent; color: #000; font-family:
        'Helvetica Neue', 'Arial', sans-serif; font-size: 13px;
        font-style: normal; font-weight: normal; line-height: 1.5;
        margin: 1px; padding: 0; vertical-align: baseline; }

code, pre, tt { font-family: 'Andale Mono', 'Lucida Console', monospace; }

dl { }
    dd { margin-left: 18px; }

em, i { font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-size: 150%; margin: 0 0 12px 0; padding: 0; }

hr { border-bottom: 1px solid #961e96; margin: 18px; }

ol, ul { margin-left: 2.5em; }

optgroup { font-weight: bold; }
    optgroup option { font-weight: normal; }

strike { text-decoration: line-through; }

sub, sup { font-size:80%; line-height: 0; }
    sub { vertical-align: sub; }
    sup { vertical-align: super; }

table { border-collapse: collapse; border-spacing: 0; border-style: none;
        display: table; vertical-align: middle; width: 100%; }
    tbody tr:nth-child(2n) { background-color: #e6e5e1; }
    td, th { border-style: none; padding: 0.25em 0.5em; }
    th { background-color: #e6e5e1; }
        thead th { white-space: nowrap; }
        tbody th { text-align: right; }

u { text-decoration: underline; }

.cke_enhancement {
    display: block;
    height: 80px;
    margin: 20px 0;
    width: 100%;
}
.cke_enhancement.marker {
    height: 45px;
}
.cke_enhancement[data-alignment=left] {
    float: left;
    height: 150px;
    margin: 0 20px 20px 0;
    width: 200px;
}
.cke_enhancement[data-alignment=right] {
    float: right;
    height: 150px;
    margin: 0 0 20px 20px;
    width: 200px;
}
