html .cke_skin_cms {
    visibility: inherit;
}
html.cke_skin_cms_container {
    visibility: visible;
}

.cke_skin_cms *[title] {
    border-style: none;
}
.cke_skin_cms table {
    margin: 0;
}
.cke_skin_cms table tr {
    background-color: transparent;
}
.cke_skin_cms .cke_voice_label,
.cke_skin_cms .cke_break,
.cke_skin_cms .cke_bottom {
    display: none;
}

.cke_skin_cms .cke_contents {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    margin: 0;
}
.cke_skin_cms .cke_contents .cke_source {
    border-style: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-family: 'Andale Mono', 'Lucida Console', monospace;
    font-size: 11px;
    min-height: 10em;
    padding: 0;
}
.cke_skin_cms .cke_focus .cke_contents {
    border-color: #5cb3e5;
    box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
    -moz-box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
    -webkit-box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
}

.cke_skin_cms .cke_toolbox {
    background-color: #ededed;
    border-bottom: 1px solid #cfcfcf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -wekbit-border-top-left-radius: 5px;
    -wekbit-border-top-right-radius: 5px;
    overflow: hidden;
    padding: 3px 0 0 3px;
    position: relative;
    z-index: 100;
}

.cke_skin_cms .cke_toolbar {
    background-color: #333;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style-type: none;
    margin: 3px;
    overflow: hidden;
    float: left;
    margin: 0 3px 3px 0;
    padding-right: 3px;
}

.cke_skin_cms .cke_toolbar:before {
    content: ' ';
    display: block;
    font-family: 'SilkscreenNormal', sans-serif;
    font-size: 8px;
    line-height: 8px;
    margin: 2px 0 3px 3px;
}
.cke_skin_cms .cke_toolbar_0:before {
    content: 'Font';
}
.cke_skin_cms .cke_toolbar_1:before {
    content: 'Alignment';
}
.cke_skin_cms .cke_toolbar_2:before {
    content: 'List';
}
.cke_skin_cms .cke_toolbar_3:before {
    content: 'Enhancement';
}
.cke_skin_cms .cke_toolbar_4:before {
    content: 'Misc';
}

.cke_skin_cms .cke_button {
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: black;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 0 3px 3px;
    text-align: center;
}
.cke_skin_cms .cke_button .cke_label {
    display: none;
}
.cke_skin_cms .cke_button .cke_icon {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 20px;
    width: 20px;
}
.cke_skin_cms .cke_button .cke_on .cke_icon {
    background-color: #76bbe0;
}

.cke_skin_cms .cke_button_bold .cke_icon {
    background-image: url(icon/text_bold.png);
}
.cke_skin_cms .cke_button_italic .cke_icon {
    background-image: url(icon/text_italic.png);
}
.cke_skin_cms .cke_button_underline .cke_icon {
    background-image: url(icon/text_underline.png);
}
.cke_skin_cms .cke_button_strike .cke_icon {
    background-image: url(icon/text_strikethrough.png);
}
.cke_skin_cms .cke_button_superscript .cke_icon {
    background-image: url(icon/text_superscript.png);
}
.cke_skin_cms .cke_button_subscript .cke_icon {
    background-image: url(icon/text_subscript.png);
}

.cke_skin_cms .cke_button_justifyleft .cke_icon {
    background-image: url(icon/text_align_left.png);
}
.cke_skin_cms .cke_button_justifycenter .cke_icon {
    background-image: url(icon/text_align_center.png);
}
.cke_skin_cms .cke_button_justifyright .cke_icon {
    background-image: url(icon/text_align_right.png);
}

.cke_skin_cms .cke_button_bulletedlist .cke_icon {
    background-image: url(icon/text_list_bullets.png);
}
.cke_skin_cms .cke_button_numberedlist .cke_icon {
    background-image: url(icon/text_list_numbers.png);
}
.cke_skin_cms .cke_button_outdent .cke_icon {
    background-image: url(icon/text_indent_remove.png);
}
.cke_skin_cms .cke_button_indent .cke_icon {
    background-image: url(icon/text_indent.png);
}

.cke_skin_cms .cke_button_link .cke_icon {
    background-image: url(icon/link.png);
}
.cke_skin_cms .cke_button_unlink .cke_icon {
    background-image: url(icon/link_break.png);
}
.cke_skin_cms .cke_button_addEnhancement .cke_label {
    display: block;
    font-size: 80%;
    padding: 0 3px;
    white-space: nowrap;
    width: auto;
}
.cke_skin_cms .cke_button_addEnhancement .cke_icon {
    display: none;
}
.cke_skin_cms .cke_button_addMarker .cke_label {
    display: block;
    font-size: 80%;
    padding: 0 3px;
    white-space: nowrap;
    width: auto;
}
.cke_skin_cms .cke_button_addMarker .cke_icon {
    display: none;
}

.cke_skin_cms .cke_button_source .cke_icon {
    background-image: url(icon/html.png);
}

.cke_skin_cms .cke_contents .group {
    background-color: #333;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style-type: none;
    margin: 3px;
    overflow: hidden;
    float: left;
    margin: 0 3px 3px 0;
    padding-right: 3px;
}
.cke_skin_cms .cke_contents .group:before {
    content: ' ';
    display: block;
    font-family: 'SilkscreenNormal', sans-serif;
    font-size: 8px;
    line-height: 8px;
    margin: 2px 0 3px 3px;
}

.cke_skin_cms .cke_contents .action {
    background-color: white;
    color: black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    float: left;
    margin: 0 0 3px 3px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding: 2px;
    width: 16px;
}

.cke_skin_cms .cke_contents .group.position:before {
    content: 'Position';
}
.cke_skin_cms .cke_contents .action.moveLeft:before {
    content: url(icon/arrow_left.png);
}
.cke_skin_cms .cke_contents .action.moveUp:before {
    content: url(icon/arrow_up.png);
}
.cke_skin_cms .cke_contents .action.moveCenter:before {
    content: url(icon/arrow_out.png);
}
.cke_skin_cms .cke_contents .action.moveDown:before {
    content: url(icon/arrow_down.png);
}
.cke_skin_cms .cke_contents .action.moveRight:before {
    content: url(icon/arrow_right.png);
}

.cke_skin_cms .cke_contents .group.misc:before {
    content: 'Misc';
}
.cke_skin_cms .cke_contents .action.edit {
    font-size: 80%;
    width: auto;
}
.cke_skin_cms .cke_contents .action.edit a {
    text-decoration: none;
}

.cke_skin_cms .cke_contents .action.remove {
    background-image: url(icon/delete.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cke_skin_cms .cke_contents .enhancement {
    background-color: #cecece;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.cke_skin_cms .cke_contents .enhancement ul {
    list-style-type: none;
    margin: 0;
}
.cke_skin_cms .cke_contents .enhancement .label {
    font-size: 120%;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
}
.cke_skin_cms .cke_contents .enhancement.alignLeft .label,
.cke_skin_cms .cke_contents .enhancement.alignRight .label {
    margin-top: 50px;
}
.cke_skin_cms .cke_contents .enhancement .toolbar {
    display: none;
    left: 4px;
    position: relative;
    top: 4px;
}

.cke_skin_cms .cke_focus .cke_contents {
    border-color: #5cb3e5;
    box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
    -moz-box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
    -webkit-box-shadow: rgba(92, 179, 229, 1) 0 0 4px;
}

.cke_skin_cms.focus .enhancement .toolbar {
    display: block;
}
.cke_skin_cms .overlayContainer {
    position: relative;
}
