.inlineEditorControls {
    background: fade(#20343f, 80%);
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    
    li {
        float: left;
        padding: 5px;

        &.inlineEditorLogo {
            padding: 8px 10px;

            a:hover {
                background: transparent;
            }

            img {
                display: block;
            }
        }
    }

    a {
        color: #54d1f0;
        display: block;
        margin: -5px;
        padding: 5px;
        position: relative;
    }

    &.inlineEditorControls-main {
        left: 0;
        top: 0;
        z-index: 1;
    }

    &.inlineEditorControls-main a:hover,
    &.inlineEditorControls-hover {
        background: #54d1f0;

        &, & a {
            color: black;
        }
    }

    &.inlineEditorControls-under {
        opacity: 0.5;
    }
}

.inlineEditorOutline {
    display: none;
    left: 0;
    outline: 5px solid #54d1f0;
    position: absolute;
    top: 0;

    .inlineEditorControls-hover & {
        display: block;
    }
}
