* {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
}

*:focus {
    outline-style: none;
}

*:last-child {
    margin-bottom: 0;
}

b,
strong {
    font-weight: bold;
}

body {
    color: #333;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin: 4px;
    padding: 0;
    vertical-align: baseline;
    word-wrap: break-word;
}

body.imageEditor-textOverlayInput {
    word-wrap: normal;
}

em,
i {
    font-style: italic;
}

ol,
p,
ul {
    margin: 0 0 15px 0;
    padding: 0;
}

strike {
    text-decoration: line-through;
}

sub {
    font-size: 0.83em;
    line-height: 0;
    vertical-align: sub;
}

sup {
    font-size: 0.83em;
    line-height: 0;
    vertical-align: super;
}

u {
    text-decoration: underline;
}

.cms-textAlign-center {
    text-align: center;
}

.cms-textAlign-left {
    text-align: left;
}

.cms-textAlign-right {
    text-align: right;
}

.enhancement {
    display: block;
    height: 100px;
    margin: 1em 0;
    width: 100%;
}

.enhancement[data-alignment=left] {
    float: left;
    margin-right: 1em;
    margin-top: 0;
    width: 300px;
}

.enhancement[data-alignment=right] {
    float: right;
    margin-left: 1em;
    margin-top: 0;
    width: 300px;
}

.marker {
    height: 46px;
}
