p {
    margin-top: 0;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.enhancement {
    display: block;
    height: 100px;
    margin: 1em 0;
    width: 100%;
}

.enhancement[data-alignment=left] {
    float: left;
    margin-right: 1em;
    margin-top: 0;
    width: 300px;
}

.enhancement[data-alignment=right] {
    float: right;
    margin-left: 1em;
    margin-top: 0;
    width: 300px;
}

.marker {
    height: 46px;
}
