<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>psddev-releases</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>${env.MAVEN_HEADER_AUTHORIZATION}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>

        <server>
            <id>psddev-snapshots</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>${env.MAVEN_HEADER_AUTHORIZATION}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>