.codehilite
.code,
.highlight pre {color:#fdce93;background-color:#333}
.highlight pre code .hll{background-color:#222}
.highlight pre code .c{color:#7f9f7f}
.highlight pre code .err{color:#e37170;background-color:#3d3535}
.highlight pre code .g{color:#7f9f7f}
.highlight pre code .k{color:#f0dfaf}
.highlight pre code .l{color:#ccc}
.highlight pre code .n{color:#fff}
.highlight pre code .o{color:#f0efd0}
.highlight pre code .x{color:#ccc}
.highlight pre code .p{color:#41706f}
.highlight pre code .cm{color:#57AED9}
.highlight pre code .cp{color:#57AED9}
.highlight pre code .c1{color:#57AED9}
.highlight pre code .cs{color:#cd0000;font-weight:bold}
.highlight pre code .gd{color:#cd0000}
.highlight pre code .ge{color:#ccc;font-style:italic}
.highlight pre code .gr{color:red}
.highlight pre code .gh{color:#dcdccc;font-weight:bold}
.highlight pre code .gi{color:#00cd00}
.highlight pre code .go{color:gray}
.highlight pre code .gp{color:#dcdccc;font-weight:bold}
.highlight pre code .gs{color:#ccc;font-weight:bold}
.highlight pre code .gu{color:purple;font-weight:bold}
.highlight pre code .gt{color:#0040D0}
.highlight pre code .kc{color:#dca3a3}
.highlight pre code .kd{color:#C7CB30}
.highlight pre code .kn{color:#dfaf8f;font-weight:bold}
.highlight pre code .kp{color:#cdcf99}
.highlight pre code .kr{color:#cdcd00}
.highlight pre code .kt{color:#00cd00}
.highlight pre code .ld{color:#cc9393}
.highlight pre code .m{color:#8cd0d3}
.highlight pre code .s{color:#D6D6A3}
.highlight pre code .na{color:#839AB0}
.highlight pre code .nb{color:#efef8f}
.highlight pre code .nc{color:#efef8f}
.highlight pre code .no{color:#ccc}
.highlight pre code .nd{color:#ccc}
.highlight pre code .ni{color:#c28182}
.highlight pre code .ne{color:#c3bf9f;font-weight:bold}
.highlight pre code .nf{color:#efef8f}
.highlight pre code .nl{color:#ccc}
.highlight pre code .nn{color:#8fbede}
.highlight pre code .nx{color:#ccc}
.highlight pre code .py{color:#ccc}
.highlight pre code .nt{color:#efefef}
.highlight pre code .nv{color:#dcdccc}
.highlight pre code .ow{color:#f0efd0}
.highlight pre code .w{color:#ccc}
.highlight pre code .mf{color:#8cd0d3}
.highlight pre code .mh{color:#8cd0d3}
.highlight pre code .mi{color:#8cd0d3}
.highlight pre code .mo{color:#8cd0d3}
.highlight pre code .sb{color:#cc9393}
.highlight pre code .sc{color:#cc9393}
.highlight pre code .sd{color:#cc9393}
.highlight pre code .s2{color:#cc9393}
.highlight pre code .se{color:#cc9393}
.highlight pre code .sh{color:#cc9393}
.highlight pre code .si{color:#cc9393}
.highlight pre code .sx{color:#cc9393}
.highlight pre code .sr{color:#cc9393}
.highlight pre code .s1{color:#cc9393}
.highlight pre code .ss{color:#cc9393}
.highlight pre code .bp{color:#efef8f}
.highlight pre code .vc{color:#efef8f}
.highlight pre code .vg{color:#dcdccc}
.highlight pre code .vi{color:#ffffc7}
.highlight pre code .il{color:#8cd0d3}
