<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Brightspot Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="js/jquery.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        .collapsed .expandable-content {
            display: none;
        }
        .icon-camera {

            margin-top: 4px;

        }

        .tumblr_posts {

            list-style: none;
            margin-left: 0px;
        }

        .tumblr_post {

            border-bottom: 2px solid #bbbbbb;
            margin-bottom: 50px;
        }
    </style>

    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



</head>

<body data-target=".dari-docs-sidebar" data-spy="scroll" onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="{% if page.id == 'index' %}active{% endif %}"><a href="index.html">Home</a></li>
                        <li class="{% if page.id == 'documentation' %}active{% endif %}"><a href="documentation.html">Documentation</a></li>
                        <li class="{% if page.id == 'community' %}active{% endif %}"><a href="community.html">Community</a></li>
                        <li class="{% if page.id == 'release' %}active{% endif %}"><a href="release.html">Latest Release</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

  <div id="results">
  </div>

    <div class="container">

        {{ content }}

        <hr>

        <footer>
            <div class="row">
                <div class="span6 blurb">
                    <p>Brightspot CMS was built by PERFECT SENSE digital, LLC.</p>
                    <a href="http://www.perfectsensedigital.com"><img src="img/psd-header-logo.png" style="max-height: 20px;"/></a>
                </div>
                <div class="span6 blurb">
                    <p>Brightspot CMS is built using Dari.</p>
                    <a href="http://www.dariframework.org"><img src="img/dari.png" style="max-height: 20px;"/></a>
                </div>
            </div>
        </footer>

    </div><!--/.container-->


    <script src="js/bootstrap.min.js"></script>

<script language="javascript"> 
function toggle() {
    var ele = document.getElementById("toggleImage");
    var text = document.getElementById("displayImage");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        
    }
    else {
        ele.style.display = "block";
        
    }
} 
</script>
 
<script language="javascript"> 
function toggle2() {
    var ele = document.getElementById("toggleImage2");
    var text = document.getElementById("displayImage2");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        
    }
    else {
        ele.style.display = "block";
        
    }
} 
</script>

<script language="javascript"> 
function toggle3() {
    var ele = document.getElementById("toggleImage3");
    var text = document.getElementById("displayImage3");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        
    }
    else {
        ele.style.display = "block";
        
    }
} 
</script>

<script language="javascript"> 
function toggle4() {
    var ele = document.getElementById("toggleImage4");
    var text = document.getElementById("displayImage4");
    if(ele.style.display == "block") {
            ele.style.display = "none";
    }
    else {
        ele.style.display = "block";
        
    }
} 
</script>

<script language="javascript"> 
function toggle5() {
    var ele = document.getElementById("toggleImage5");
    var text = document.getElementById("displayImage5");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        
    }
    else {
        ele.style.display = "block";
        
    }
} 

</script>
<script language="javascript"> 
function toggle6() {
    var ele = document.getElementById("toggleImage6");
    var text = document.getElementById("displayImage6");
    if(ele.style.display == "block") {
            ele.style.display = "none";
        
    }
    else {
        ele.style.display = "block";
        
    }
} 

</script>
