<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Brightspot CMS</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/main.less" rel="stylesheet/less" type="text/css" />
    <link href="css/pygments/zenburn.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Copse|Droid+Serif:400,700,400italic,700italic|Inconsolata:400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <script src="js/less-1.3.3.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/skrollr.min.js"></script>

    <meta name="viewport" content="width=480, initial-scale=.25">

    <style>
    @media print {
        .page-break	{ display: block; page-break-before: always; }
        .print-hidden { display: none; }
        .highlight-mini { border-bottom: none; }
    }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if site.url == 'dev' %}
    <script type="text/javascript">
    less = {
        env: "development",
    };

    </script>
    {% endif %}

    {% if site.url != 'dev' %}
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32403198-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
    {% endif %}
</head>

<body data-target=".dari-docs-sidebar">

<!--
         data-0="
                   position: static; 
                   top: 50px;
                   overflow: hidden;
                   height: 300px;
                   background: red;
        "
        data-115="
                   position: fixed; 
                   top: 0px; 
                   border: 1px solid #000; 
                   width:100%; 
                   height: 115px;
                   background: blue;
        "> -->
    
    <div id="header" class="print-hidden">
        <div class="container">
            <div class="row">
                <div class="lead-section span12">
                    <div class="promo">
                        <div class="line">An open-source content management system.</div>
                        <div class="line2">Designed from the ground up to power large scale, dynamic and visually stunning web experiences.</div>
                        <div class="line2">Built using proven open-source software: <strong>Java, MySQL, Solr and Apache httpd</strong></div>

                        <div class="install row">
                            <div class="span2">
                                <a class="install-button" href="installation.html">Install</a>
                            </div>
                            <div class="span3">
                                <div class="release">Release 2.0.0 <p>(<a href="release-notes.html">release notes</a>)</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation" class="print-hidden" data-0="position:static; z-index: 100;" data-top-top="position:fixed;top:0px;width:100%;">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="{% if page.id == 'index' %}active{% endif %}"><a class="main-link" href="index.html">For Editors</a></li>
                                    <li class="{% if page.id == 'developer' %}active{% endif %}"><a class="main-link" href="developer.html">For Developers</a></li>
                                    <li class="{% if page.section == 'documentation' %}active{% endif %}"><a class="main-link" href="support.html">Documentation/Support</a></li>
                                </ul>
                            </div>
                            <div class="nav pull-right">
                                <ul class="nav">
                                <li><a class="social" href="mailto:brightspotcms@perfectsensedigital.com"><i class="icon-envelope"></i> Contact Us</a></li>
                                <li><a class="social" href="https://twitter.com/brightspotcms"><i class="icon-twitter"></i> Follow on Twitter</a></li>
                                <li><a class="social" href="https://github.com/perfectsense/brightspot-cms"><i class="icon-github"></i> Follow on Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height:58px;" data-0="display:none;" data-top-top="display:block;" data-anchor-target="#navigation">&nbsp;</div>

    {{ content }}

    <footer>
        <div class="container print-hidden">
            <div class="row">
                <div class="span6 blurb">
                    <a href="http://www.perfectsensedigital.com"><img src="img/psd-logo.png" style="max-height: 60px;"/></a>
                    <p>Brightspot CMS was built by PERFECT SENSE digital, LLC.</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
    skrollr.init({
            forceHeight: false
    });
    $(function() {
        $(".main-link").click(function(el) {
            var href = $(this).attr("href");

            if ($("body").scrollTop() == 0) {
                return true;
            } else {
                $('html, body').animate({scrollTop: 0}, {
                    complete: function() {
                        window.location = href;
                    }
                }, 350);
            }

            return false;
        });
        
    });
    </script>
</body>
</html>

